# dependencies
node_modules/

# log files
yarn-error.log

# built files & data
build/
output/

# editor config
.vscode

# clasp credentials
.clasp.json

# python environment
env/
venv/
__pycache__/
*.pyc


# flask app local settings
*.cfg