<form class="pa4 black-80"action="/search" method="get">
    <div class="measure">
        <label for="incipit" class="f6 b db mb2">Incipit search</label>
        <input type="text" name="incipit" size="200" placeholder="enter incipit"
            value="{{ search_term }}"
            class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="incipit-desc"/>
        <small id="incipit-desc" class="f6 black-60 db mb2">All or part of an incipit to search.</small>
        <input type="hidden" name="format" value="html"/>
        <input type="submit"/>
    </div>
</form>