{% extends "base.html" %}

{% block title %}Incipit Search | {% endblock %}

{% block content %}

    {% include 'incipit_form.html' %}

<div class="measure f5 pa3 pt3 dark-gray avenir lh-copy">

    <p>The <a href="https://cdh.princeton.edu/projects/ethiopian-miracles-mary-project/">Princeton Ethiopian Miracles of Mary</a> digital humanities project (PEMM) analyzes the Gəˁəz miracle stories written about the Virgin Mary in highland Ethiopia. This PEMM Incipit Tool was developed to allows users to catalog miracle stories properly across manuscripts. Type up an incipit (unique opening line) from a story in a <em>Täˀammərä Maryam</em> manuscript into the search field and find out which story it is. More information about each story is <a a href="https://github.com/Princeton-CDH/pemm-data">on Github</a> or you can also consult a <a href="https://wendybelcher.com/african-literature/pemm-stories/">plain list of titles.</a></p>

    <p lang="gez">የፕሪንስተን የኢትዮጵያ ተኣምረ ማርያም ፕሮጀክት ስለ ድንግል ማርያም ተኣምራት በግዕዝ የተጻፉ ታሪኮችን
        ይገመግማል። <a href="https://pemm.cdh.princeton.edu/">ይህ ገጽ</a> የተሰናዳውም፣ የትኛው የተኣምር ታሪክ በየትኛው መጽሐፍ አንደተጻፈ ለማወቅ የሚፈልግ ማንኛውም ሰው በቀላሉ የሚያሻውን እንዲያገኝ ለማቀላጠፍ ነው። የሚፈልጉትን ታሪክ መክፈቻ ሐረግ ወይም ዓረፍተነገር በግዕዝ ጽፈው መፈለጊያው ውስጥ በማስገባት ውጤት ሊያገኙ ይችላሉ። የታሪኮቹ ርእስ እና አጫጭር ማብራሪያዎች ዝርዝርም በዚህ <a href="https://wendybelcher.com/african-literature/pemm-stories/">ገጽ ላይ</a> ይገኛል።</p>
</div>

{% endblock %}
