{% extends "base.html" %}

{% block title %}Incipit Search | {% endblock %}

{% block content %}

    {% include 'incipit_form.html' %}

<div class="measure f5 pa3 pt5 dark-gray avenir lh-copy">The <a href="https://cdh.princeton.edu/projects/ethiopian-miracles-mary-project/">Princeton Ethiopian Miracles of Mary</a> digital humanities project (PEMM) analyzes the Gəˁəz miracle stories written about the Virgin Mary in highland Ethiopia. This PEMM Incipit Tool was developed to allows users to catalog miracle stories properly across manuscripts. Type up an incipit (unique opening line) from a story in a <em>Täˀammərä Maryam</em> manuscript, paste it here, and find out which story it is.</div>

<div class="measure f5 pa3 pt2 dark-gray avenir lh-copy">Search contains high-confidence incipits from PEMM data. More information about each story is in Github [link] or you can also consult a <a href="https://wendybelcher.com/african-literature/pemm-stories/">plain list of titles.</a></div>

{% endblock %}
